<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title></title>
        {% load staticfiles %}
        <link rel='stylesheet' href='{% static 'first_app/css/styles.css' %}'>
        <script src='{% static 'first_app/js/main.js' %}' > </script>
    </head>
    <body>
            <a href="{% url 'content:mainpage' %}">Dashboard | </a> <a href="{% url 'login:logout' %}">Logout</a>
            {% for message in messages %}
            <p>{{ message }}<p>
            {% endfor %}
            <br>
            <form action='{% url "content:update" apptid=this_appt.id %}' method='post'>
            {% csrf_token %}
            <label for='task'>Task:</label>
            <input type='text' id='task' name='task' value='{{this_appt.task}}'><br>
            <label for='status'>Status:</label>
            <select name='status' id='status' value='{{this_appt.status}}'>
                <option value='pending'>pending</option>
                <option value='done'>done</option>
                <option value='missed'>missed</option>
            </select><br>
            <label for='date'>Date:</label>
            <input type='date' id='date' name='date' value='{{this_date}}'><br>
            <label for='time'>Time: </label>
            <input type='time' id='time' name='time' value='{{this_time}}'><br>
            <input type='submit' value='Update'>
        </form>
    </body>
</html>

